<meta charset="UTF-8">
<title> </title>

<!-- This is to allow materialize css -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- End of materialize css needed files -->

<!-- Icon materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- SideBar css -->
<style>
  /*Style to offset content when navbar is on display*/
 .container, .header, .main, .footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    .container, .header, .main, .footer {
      padding-left: 0;
    }
  }

  .sidenav{
    background-color:#385B93; /*#DE354C;*/
  }

  /*show menu icon style*/
  .show-menu-icon {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rebeccapurple;
  }
  .nav-link{
    color:#fff;
  }

  .nav-link:hover{
    text-decoration:none;
  }

  .user-view{
    background-color: #283D68; /*brown;*/
  }

</style>

<!-- <link rel="stylesheet" href="../pages/css/sidebar.css"> -->

 <!-- Sidebar where links to interact with the application are -->
 <ul id="slide-out" class="sidenav sidenav-fixed">
  <li><div class="user-view">
    <!-- <div class="background">

    </div> -->
    <i class="large material-icons">account_circle</i>
    <span class="white-text name">You are </span>
    <span class="white-text email">An IEC staff member</span>
  </div></li>
  <!-- <li><div class="divider"></div></li> -->
  <li><a class="white-text nav-link"  href="/registerStaff">Register staff</a></li>
  <li><a class="white-text nav-link"  href="/registerCandidate">Register Candidate</a></li>
  <li><a class="white-text nav-link"  href="/registerParty">Register Party</a></li>
  <!-- <li><a class="white-text">Others</a></li> -->
  <li><a class="white-text nav-link"  href="/updateDistrict">Update voting district</a></li>
  <li><a class="white-text nav-link" >Log out</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="show-menu-icon material-icons">show menu</i></a>

<script>
    // script to initalize sidebar
     document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, "edge");
    });
    // var instance = M.Sidenav.getInstance(elems);
</script>
