<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  
  <style>

    /*Center container which has the form*/
       .jumbotron{
         background-color:#385B93;
         color: #fff;
         margin: auto;
       width: 50%;
       }
   
         /* style form input*/
     .btn {
       background-color: #56BAEC;
       border: none;
       color: white;
       padding: 16px 32px;
       text-decoration: none;
       margin: 4px 2px;
       cursor: pointer;
       width: 100%;
   }
     </style>
</head>
<body class="container">

<header>
  <!-- <%- include('../partials/header'); %> -->
</header>

 <main>
  <div class="jumbotron">
    <div class="container">
        <h2>Register:</h2>

        <form action="voterRegRequest" method="POST">
          <label for="fname">First name:</label><br>
          <input  class="form-control" placeholder="Enter name..." type="text" id="fname" name="fname" value="" required>
          
          <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control"  placeholder="Enter surname..." name="surname">
          </div>

          <div>
            <label for="idnumber">ID number:</label><br>
            <input class="form-control"type="text" id="idnumber" name="idnumber" placeholder="type id number here..." required>
          </div>

          <div class="form-group">
          <label for="age">Age:</label><br>
          <input class="form-control" placeholder="Enter age..." type="text" id="age" name="age" value="" required>
          </div>

          <div class="form-group">
            <label for="pasword">Password:</label>
            <input type="password" id="pw" class="form-control" placeholder="Enter password" name="password">
          </div>

          <div class="form-group">
            <p>Select your gender:</p>
            <label>
              <input name="gender" type="radio"  value="male" />
              <span>Male</span>
            </label>
            <br>
            <label>
              <input name="gender" type="radio"  value="female" />
              <span>female</span>
            </label>
          </div>

          <div class="form-group">
            
          </div>
          <div class="form-group">

            <label for="municipalitySelect"><b>Select Municipality:</b></label><br>
            <div>
              <select class="form-control" type="text" id="municRes" name="municipalitySelect">
                  
                  <% zones.forEach(function(zone) 
                    { %>
                      <option>
                        <%= zone.municipalityName %>
                      </option>
                    <% }); %>
                </select>
            </div>
            <br>

            <label for="address"><b>Address:</b></label><br>
            <input  class="form-control" type="text" id="city" name="city" placeholder="type city here..." required><br>
            <input  class="form-control" type="text" id="stname" name="stname" placeholder="street name here..." required><br>
            <input  class="form-control" type="text" id="pcode" name="pcode" placeholder="postal code here..." required><br>
            
            
            
            
          </div>

          
          <!-- <div class="form-group">
            <label for="rpsw">Confirm Password:</label>
            <input type="password" id="rpw" class="form-control" placeholder="Repeat password" name="rpsw">
            <span class="not-same-psw">Password does not match</span>
          </div> -->
          <div class="checkbox">
            <!-- <label><input type="checkbox" name="remember"> Remember me</label> -->
          </div>
          <button type="submit" id="btn"  class="btn btn-info">Submit</button>
          <div></div><br>
          <!-- <a href="/register" class="btn btn-info" role="button">Register</a> -->
        </form>
      </div>
  </div>
</main> 



<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>